@import '../../styles/colors';

.contrast-ratio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color;
  color: white;
  border: 2px solid white;
  padding: 1.25rem 1.5rem 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);

  .ratio-text {
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 1px;
  }

  h3 {
    text-align: center;
    margin: 0;

    &.ratio {
      font-size: 2.25rem;
      margin-top: 0.75rem;
    }
  }
}
