@import "../../styles/colors";

#header {
  height: 5rem;
  text-align: center;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 500;
  transition: 150ms all linear;
  z-index: 2000;
  border-bottom: 2px solid $contrast;
  background-color: $color;

  * {
    transition: 150ms all linear;
  }

  .right-content {
    display: inline-flex;
    align-items: center;
    margin-right: 3rem;
  }
  
  .title-text {
    text-align: center;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    cursor: default;
    color: $contrast;

    h1 {
      font-size: 2rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .icon {
      display: grid;
      grid-template-columns: 12px 12px;
      grid-gap: 2px;
      margin-right: .8rem;
      padding: 1px;
      cursor: pointer;

      .icon-dot {
        height: 12px;
        background-color: rgba(0,0,0,0.3);
        display: flex;
        border-radius: 2px;
      }
    }
  }

  button {
    font-size: 1.2rem;
    padding: .5rem 1rem;
    background-color: rgba(0,0,0,0);
    border: 2px solid;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }

  .icon-button {
    margin-left: .75rem;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: pointer;
    font-weight: 600;
    border: 2px solid $contrast;
    color: $contrast;
    background-color: $opposite-contrast;

    &.active {
      border: 2px solid $opposite-contrast;
      color: $opposite-contrast;
      background-color: $contrast;

      i {
        color: $opposite-contrast;
      }
    }

    i {
      margin-right: 10px;
      font-size: 1.4rem;
      color: $contrast;
    }
  }

  .menu-icon{
    transition: none;
    transition: color 150ms linear;
  }

  .button-section {
    display: flex;
    margin-right: 3rem;
  }

  @media only screen and (max-width: 900px) {
    .button-section {
      display: none;
    }
    
  }

  @media only screen and (max-width: 650px) {

    height: 4rem;

    button {
      display: none;
    }
  
    .title-text {
      letter-spacing: 0;
      margin-left: 1rem;
      font-size: 1.5rem;
    }

    .right-content {
      display: inline-flex;
      align-items: center;
      margin-right: 1rem;
    }
  
  }

  @media only screen and (max-width: 350px) {

    .bars.big.icon {
      margin-left: 0;
    }
  }
}