@import "../../styles/colors";

#sidebar {
  visibility: visible;
  opacity: 1;
  overflow: hidden;
  z-index: 1300;

  &.hidden {
    .background {
      opacity: 0;
      visibility: hidden;
    }

    .sidebar-content {
      transform: translateX(100%);
    }
  }

  .background {
    z-index: 1400;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 300ms all ease-out;
  }

  .sidebar-content {
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 5rem;
    bottom: 0;
    width: 24rem;
    max-width: 100vw;
    z-index: 1500;
    transform: translateX();
    transition: 300ms ease-out transform;
    will-change: tranform;

    @media only screen and (max-width: 650px) {
      top: 4rem;
      width: 100vw;
    }

    @media only screen and (max-width: 550px) {
      width: 100vw;
    }

    * {
      transition: 300ms ease-out transform;
    }
  }

  .main-menu-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    background-color: $color;

    &.hidden {
      transform: translateX(-100%);
    }

    .main-menu-item {
      padding: 1.5rem;
      cursor: pointer;
      color: $high-contrast;
      border-bottom: 1px solid $contrast;

      &:hover {
        background-color: $hover;
      }

      span {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
      }

      * {
        font-size: 1.6rem;
      }

      .icon {
        width: 2rem;
        margin-right: 1.5rem;
        margin-left: 0.5rem;
      }
    }
  }

  .sub-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    background-color: $color;

    &.hidden {
      transform: translateX(100%);
    }

    .search-input-container {
      width: 100%;
      height: 3.5rem;
      display: flex;
      align-items: center;
      background-color: white;
      padding-right: 1rem;

      .icon.fa-search {
        font-size: 1.5rem;
        width: 2rem;
        color: #222;
        margin: 0 .75rem;
      }

      input {
        height: 100%;
        flex: 1;
        border: 0;
        font-size: 1.5rem;
      }
    }

    .sub-menu-header {
      padding: 1rem 1.5rem;
      cursor: pointer;
      color: $high-contrast;
      border-bottom: 1px solid $contrast;
      background-color: $color;

      &:hover {
        background-color: $hover;
      }

      span {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
      }

      * {
        font-size: 1.6rem;
      }

      .icon {
        width: 2rem;
        margin-right: 1.5rem;
        margin-left: 0.5rem;
      }
    }

    .sub-menu-content {
      flex: 1;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  .menu-items {

    .color-result-item {
      padding: 1.5rem 1.25rem;
      font-size: 1.6rem;
      line-height: 2.1rem;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
      text-transform: uppercase;
    }

    .menu-item {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 10rem;
      align-items: center;
      cursor: pointer;
      padding: 2rem 0;

      .color-name {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
      }
    }
  }
}
