* {
  font-size: 16px;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

body, html { 
  height: 100%;
}
.outer-container {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
}

.input-container {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.ui.action.input {
  width: 27rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, auto);
  border-radius: 10px;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
}

.color-square {
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}

.space-below {
  margin-bottom: .75rem;
}

.popup-header {
  text-align: center;
}

.popup-button button {
  width: 13rem;
}

.color-name {
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2rem;
  text-align: center;
}

@media only screen and (max-width: 1250px) {
  .color-square {
    width: 5rem;
    height: 5rem;
  }
  .color-name {
    font-size: 1.8rem;
  }

  .ui.action.input {
    width: 23rem;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    grid-template-columns: repeat(6, auto);
  }

  .ui.action.input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .color-name {
    width: 100%;
  }

}

@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: repeat(4, auto);
  }

  .color-square {
    width: 4rem;
    height: 4rem;
  }
}