#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

body, html { 
  height: 100%;
  background-color: #2361a2;
}
.outer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
}

.input-container {
  margin: 2rem;
  max-width: calc(100% - 2rem);
}

.ui.action.input {
  width: 30rem;
  max-width: calc(100% - 2rem);
}

.container {
  background-color: #2972BE;
  display: grid;
  grid-template-columns: repeat(9, auto);
  border-radius: 10px;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 2rem;
}

.color-square {
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}

.space-below {
  margin-bottom: .75rem;
}

.popup-header {
  text-align: center;
}

.popup-button button {
  width: 13rem;
}

@media only screen and (max-width: 1250px) {
  .color-square {
    width: 5rem;
    height: 5rem;
  }
}

@media only screen and (max-width: 950px) {
  .container {
    grid-template-columns: repeat(6, auto);
  }
}

@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: repeat(4, auto);
  }

  .color-square {
    width: 4rem;
    height: 4rem;
  }
}