* {
  font-size: 16px;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

#App {
  transition: 150ms background-color ease-in-out;
  will-change: background-color;
}

button {
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid;
  color: white;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.button-group {
  margin: 1rem !important;
  display: flex !important;
  > * {
    margin: 0 !important;
    border-radius: 0 !important;
    border-width: 2px 0 2px 2px !important;

    &:first-child {
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
    }

    &:last-child {
      border-top-right-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
      border-right-width: 2px !important;
    }
  }
}

.page {
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5rem;
}

.color-name {
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2rem;
  text-align: center;
  transition: 150ms color ease-in-out;
}

@media only screen and (max-width: 650px) {
  .page {
    padding-top: 4rem;
  }
}

.content-background {
  min-height: calc(100vh - 5rem);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms linear;
}